# Base de datos
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Seguridad y Autenticación JWT
SECRET_KEY=
ALGORITHM=HS256

# Conexión con Facturador API
API_FACTURADOR_URL=
API_KEY_FACTURADOR=